$white: #fff;
$gray-light: #eee;
$gray-dark: #777;
$gray: #aaa;
$grid-breakpoint-xxl: 1400px;
$grid-breakpoint-xl: 1200px;
$grid-breakpoint-lg: 992px;
$grid-breakpoint-md: 768px;
$grid-breakpoint-sm: 576px;
$cyan: #2ce7fd;
$orange: #fd9454;
$green-light: #95ec1a;
$green: #006400;
$pink-light: #ff76c7;
$purple: #9f04ff;
$transparent-dark: rgba(0, 0, 0, 0.5);
$transparent-light: rgba(255, 255, 255, 0.5);
$transparent-gray: rgba(200, 200, 200, 0.8);

$img-boxes: (1 1), (1 2), (1 3), (1 4), (2 3), (3 4), (9 16), (9 21);
